.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.buttonFile {
  margin-bottom: 1rem;
  
}

.buttonFile {
  line-height: 1;
  border: 1px solid transparent;
  font-size: .875rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: .4rem;
  transition: .3s;
  height: 40px;
  width: 40px;
}

.buttonFile svg * {
  transition: .3s;
}


.buttonFile:focus svg * , 
.buttonFile:hover svg *  {
  outline: none;
  fill:#49ce0b ;
  stroke: #49ce0b;
  
}

.buttonFile:focus, 
.buttonFile:hover {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #a1e781;
  border-color: #49ce0b;
  color: #49ce0b;
}

.preview {
  border-radius:1rem ;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}

.inputFile {
  display: none;
}

.tooltip {
    position: absolute;
    z-index: 500;
    background:white;
    box-shadow: 0 0 0 2px #49ce0b, 0 0 0 6px #a1e781;
    padding: 5px;
    color: #333;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: 14px;
    max-width: 180px;
    border-radius: 2px;
  
}