.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.buttonFile {
  margin-bottom: 1rem;
  
}

.buttonFile {
  padding: .3rem .6rem;
  line-height: 1;
  border: 1px solid #333;
  font-size: .875rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: .4rem;
  transition: .3s;
}



.buttonFile {
  background: url('../../Assets/picture.svg') no-repeat no-repeat center;
  width: 45px;
  height: 45px;
}

.buttonFile:focus, 
.buttonFile:hover  {
  outline: none;
  background: url('../../Assets/picture-green.svg') no-repeat no-repeat center;
  box-shadow: 0 0 0 3px #a1e781;
  border-color: #49ce0b;
  
}



.preview {
  border-radius:1rem ;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}

.inputFile {
  display: none;
}