.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.file {
  margin-bottom: 1rem;
  
}

.file::file-selector-button {
  background: #ddd;
  padding: .3rem .6rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: .875rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: .4rem;
  transition: .3s;
}

.file::file-selector-button:focus, 
.file::file-selector-button:hover {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}

.preview {
  border-radius:1rem ;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}